* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'DM Sans', sans-serif; */
  width: 100%;
}

/* Reset CSS */
button,
input,
textarea {
  /* font-family: 'DM Sans', sans-serif; */
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


.hidden {
  display: none;
}